<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="PASCOVICH\SA_GESTION_PLACE_EXAMEN_Connection" connectionString="XpoProvider=MSSqlServer;data source=PASCOVICH\SA;user id=SA;password=ROOT;initial catalog=GESTION_PLACE_EXAMEN;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>